
<br>
<br>
<br>

<h1><%= @bug.name %></h1>


<h3>Precedense: <%= @bug.precedense %></h3>
<h3>Created At: <%= @bug.created_at %></h3>
<h3>Updated At: <%= @bug.updated_at %></h3>

<div class="form-group">
  <label for="comment">Description:</label>
  <textarea class="form-control" rows="10" id="comment" disabled>
    <%= @bug.description %>
  </textarea>
</div>